Source: gallery-plugin-enlargeshrink
Section: graphics
Priority: extra
Maintainer: Antia Puentes <apuentes@igalia.com>
Build-Depends: debhelper (>= 7.0.50),
               libgallerycore-dev (>= 1.120111.1+pr1.2),
               libquillimagefilter-dev (>= 1.110523.0)
Standards-Version: 3.9.1

Package: gallery-plugin-enlargeshrink
Architecture: any
Depends: ${misc:Depends},
         libc6 (>= 2.4),
         libgallerycore (>= 1.120111.1+pr1.2),
         libgcc1 (>= 1:4.1.1),
         libmeegotouchcore0,
         libqtcore4 (>= 4.7.4~git20120112),
         libqtgui4 (>= 4.7.4~git20120112),
         libquillimagefilter1,
         libstdc++6 (>= 4.4.0)
Description: Gallery Enlarge/Shrink edit plugin
 Gallery plugin that applies an Enlarge/Shrink effect
 .
 This plugin requires PR1.2 in order to work
XB-Maemo-Flags: visible
XB-Maemo-Display-Name: Gallery Enlarge/Shrink plugin
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAA80SURBVHic1ZtrjF3Vdcd/+3HOuY95efya
 mICBGPPQkKFGpSEKikJEUUKATyFNJHBLJUwf4kNaiSK1tWg/8CFRPkRpglFL
 BXxoIFKrIFHk0FKlpFFlEjcGy26MKdgxMAwej+d17z2PvXY/3HvOnDtz52Fj
 xskabd17zj3nzF7/9d9rr7X2Psp7z3rKD0aPhITDg6LTAZDB9lk9rSWYITkz
 /eXD1yXr2R91IQF4VKF37jo1qq27CdilNNd7xzYvvoaoqoivIQTeQd4AlFlo
 aFKtVQPtm0qrhjK864XXgYOSmQPHDn788F6PXKg+f2gA/unGN2/V1uz2ijFp
 sTNt+GrW8GTz7ZYred4dNGDrqt1qiqCmmrrCMeU5JJl76qs//8TLH+r55wPA
 M2NvbjGR3oPy98WTfkdzoq3seoqtK6pbFNFGdRyvnnax7Lv30CcmzvU55wTA
 P4wdHa1UoseyhtzWnJAoPuPxF4yM5ydKQzSsqG7Rsa3pl1qt+JE/PHTt4TXf
 v1YAnrrpjQd8wrdmjks9a66vtdcqtqoY2KHnVcjXdx+46om13LMqAM+MvV+X
 aPrJeNLfM3dSLrrFVxOloe8yTbRRPafjwfvvPbR1fsXrVwLgH3cdv87r7Idz
 J/yO+Myvp9WXk2hY0bddHVdi7/6DgzuOLHfdsgA8M/ZaPQmCX0wdlR2u9ZH1
 8yMVU4EN1+rjYZrecO+hT/Zkgl3u5lZgn5w94Xakrd8sy5dFWjB9wu/o326f
 BL7S65qeDHjixiMPtM66fbNv/+YqX5b+yxWVIbPngZ9ft8QxLgHg22OvjRqv
 /vvsUannDq/JDI4LG6FWGMASXtBnLidKw9C1et4p/6mHDn2ya4pcMgSM5bHp
 Y67uSt5e8ExyCn/5JJVrp7uvNwatNUprVOecB0QE5xxeFh7kRdH40ceo+41U
 GERYJ4YJTL/l6oM79WPAneWfugB4fOynW9K0dlvS6J7rDAEaw7ScZmBn2yMq
 pQiCgCAIsNaitUepNgS58lmWkaYpWZYB0JoUYj9EPwEehVy4kH5VSRqQNrnt
 8bGfbnnw0KeLiLELgERV9zROS7TUMgZNQDpRBdoAhGG4CABdAOC9xznXdS7L
 MubfFzQhhhAP+PViQEcapyXS26p7gL/Nz3UB4JS/rznVi5gKQ4Rt1YhnJunb
 GBEEQQGCtRZjzBIGKKVQSuG9R0SIJwxRB4B1o39JmlOe6iX6PkoA6PzLN0cP
 3NqccjucCEv/PJoKmojmB75QPgxDoijqavm5/Pe8BUFA8n6IIQBsj//x0f85
 EZpTbsc3Rw/cmutdMMAH7G5MLj8qLQGWgOS0LaifK9eLAVprtNbFcZZmyOkA
 RQSYi8IAgMakJ9igdgMvt/XqiHg/ttj5dYtBEdGa6A2AtbaL7jkg+fHUVAOT
 1TAY1Do7wLIkDRCvx/JjC+1Kjr1Gdq5kFYXBEhK/1z3+88/FDMg9f+4Q2w4w
 QHVmgPV2gGXJYtn5qELv9YgFCK5+ZbTVUtWVizcKCFDNOq4FwUA3CHk8ABQz
 ACw4xOYHHk2IwuIukvVziVtUK1e/Mgq3vGYBUstNydnVC22WEEXA/JmYzdvs
 kmGgte6aAnP6O+dofKDRWBT2oo3/XJImmDo3AW0AULIrabIqAB6NwdA47Xr6
 gcUMyMGw1tJ8X1GnXfW8WOM/l6QJVcUu6PgAwV+ftlYHoH25ZXZiAYCyHygr
 DQu+oDHXIp0OgQC1zAzgEXx7skJIO8eLr8uPFQqFxmIIUR3Hulbp6Hp9AUCG
 bOv4rFVFYZl/XwrPvxgAoHCAOQAzE02UD1GoTgQohdKOhJh5UppEw44N2y3D
 l4dUBg06UBgL2ipQIJlHMpAMXOw5e6rB2bdTpk8J2lUIqWKpojEr6iAZZLCt
 AEDE19ZGSg0o5sbbSdBiFuQMyD+zLMMYw9nxuGOxEOkonjJHi1nql8Z86iub
 uObWESr9BhEpWp6pljPWPLpUShWxhhfFe0fn+Nn3Jzj5yhSRDBDSh1qI85aC
 INQKAJxzNVkDhTyg0DQnPcaYggF5M8YUiufWt9YyezpBYdFYElo0OcOGa1M+
 u3szV908jBOHcxnNZoJzrlC+DMJiAPI8I599tlwdceffXM70eMzPnpvg8L9M
 UpVhQuo9gXDOlwDwvurW5Jk9oPFiSZoOM2i6hoK1Fu/bWaFzDmMMxhjiWQEM
 GQmznOaaOyK++Gc78UqIk7jIHJ1zBQBlFuQg9LJ+/j9yg9Q3GT7/0KVccfMU
 P/zrt4kbw9QYXgKC81QB7KOjR0LnJFgLA9oQWMDQmE0wl5glTMg7nANjjKE5
 mwGGOTXJp/ds4DNfvaydKiftVDlXvhcIZQByEJZTPp9xRITLbxzka9+9ih/8
 xRvMjjvqbOoCwTkfPDp6JLST8YlB7wTxawMgf0hrNik6UnaG+byfU1NrTXNG
 UEHKXXuv5JpbNhU1gsWfZQDKQ6EMQP7MxQD0Ys3m7TXu3zfKsw//L7NHAyoM
 lgFgMj4xaCEecM6ueWb2eDyK+ZmkqzM5CCJCmqbFeaUUrWnHwOXCdZ/dQpqm
 XdbOFe91vgxCGYCy1Rf/vniY1IYCRu8a4EdHJzBEGKICAGvjARtjBxFhrUNA
 AEFozKTFP8yVDcOwUD7PC5RSNGeEYGPc5djKFstbbvlew8J7Xyhe9gllpY0x
 RRBWfm4mCRlNEppEBG0AxOOwgxYSBLNmBkiHA+ci7fLXxQt/PZ4MhyMr+tGu
 cSRY0NNenQsD2hDUBtoV3bI1kyTpOYdXBjQouqav8vApj+leDm+5IbC45b8t
 fq7SnVJdKQ33ygN62kZEM3O6gawQNHQD4AsAumiWZQX1FnvxyqDhvaNzHPzx
 cW645couR9Vrmss7fi5OsFyayz+NMcydbfKT53+JYkNXIiZaqFGbsRujuenZ
 FNa6jyEvkVX7gy7l0zQtLF52YCJC1K+QJOLv//I/uWPPab7wtZt6jt98DJ/v
 NLi4vXdiku88/CLp+EaGGEQRFqm4V8LGaG7a7j385WT3lc+lgg/WyoAModof
 djmtNE2LzuZOLAeiMmDQGGp+Gy88/gbjv5pi95//LlGki87nUeOHDYTyz8Ov
 vsW+v/o3gsYIfWzGMlhkIG0G+HTv4XsS20bDNQXWCICAdkRV0+Wxy5RdPKdX
 +tspcIWNeBQHX5jknf97li/9/m/zWzfvwMlCAHO+oXAOwunxGfY/9yr/9c9v
 UZFtVBgiYKiThZYWaZRrQicU9tAQ/MBaAMhI6Nuouyyfl8Py6co5R5qmRYDT
 vynCMY1lK7VOWez00Wm+9/CPGb70FW7/vRv4nVuvo95fPc9kyPPmkfd48fuv
 8torp4hkEzW2EzFEhWEslSWzkIdGAYBoWbEcunBTO30dGFlQMqcd0JUO58o7
 59gwEuFIcWSEDKEIsFSx1Gj8qsGz3/gFz3zjJ/QNB3xs+wDbrthE/2AVYzXG
 aqxtL725zJFlgmRC3EqZeOcs77w1xQen5lAuosIwfVxJQJ2QASIGOo5vqXai
 ZQEA7+VdjLpSVvGEHiEhYWCr7orgFqfBzjmSJClYMLS5gigh80knk6hToYKh
 n4A5QoZxtJAzCe+ciTn5P6fxOBYKIGXrtVNyhe6sMm2mn5HO9woR/RiqndWn
 3sVXbTo6Fwzw8rqK+Iw0Vo4FHAmemIGttsv6SqliLQDoGgJpmqItVIYc2VSM
 4GgXWBWWGoYKIa4TqiRkJAjJIgAWTNBW3nSKHhbTqTK1i3URqlMMkU7ppZeY
 yCNeXi8ASJ06qENBGivHAg5HSkr/ploBQLn6W2ZAlmUkSVIwpb7FMzOV4chQ
 XStyCjrFUksFS14xWmlQ6k4JrNtga11v1KGQOnWwACBzyQFCs2oskBLjSOkf
 tgX98/m8XAovO8h8KPRvhslfJlhSzJqCrtWuWd7Cq0ooZM4dgA4Az5965/Cd
 H7+kKajqSvcJCbqWEVTUkqSn18JI2Q/0b1ZIJx5X67QxYjnRgWs+f+qdw1A4
 wb1y1xVPHBNkbLmbPJ6UhIGRhakvB0BEliyNLXGEI5aUhIAYTWW9dO0tVo55
 v1egvDiKOmQiP5bFvR1hu2Sd0L/FdQEA3cvh+XE+9nMQ6hsM2HlclmE7zuxi
 iI08HnUoPy4GmkrdU1Hf8o7H4xAS+jb7wqpJkixpcRx3fc+vdS6jb1Paqflf
 vNQ46hNU6p7KjwsAnj/14MthzR9XyxhGSHGkDG42XcrHcdzVFoOQtzRN6dua
 4UnxrHER4gKLUhDW/PHnTz1Y7DDvcrXieTqs92ZBRgNdyagN2J4MWAzCYuVF
 hMGtIGSdOX79JawL4nm6fK4LAJfIvrDPxYtv9J0ccHBLWpzrRf/FYOTH+UrR
 0FaLI0UuEgPCPhe7RPaVz3XtEdo//uDEHdsff8mE/ksuWRgLbatliE44eaxJ
 eQ4uzwblTVLthMbhRBaCFtGICvA+Zb3FhB4T+JdeOPFg1zsFS/YJZjGP1IaT
 z829H9W7M1HFB28L42+f/8ZhhSKg1gmpZcWlqwspSkFtOJnPYvXIkt96bZX9
 4rbvPZAkel/zTLtEICSkTJMxj6NtvXYsvjQcXYsYIipsQq2tBPGhpTqcEoay
 51/f/aPVt8rm8oXLvvts80xwT9ow5HXVfMm6Vxx+rqKw68KAoOaoDqfPvXjy
 j3tull52t7gk/fdXhmZ3uUTvkKxN3osTupy/aOupDKXHJem/f9lrlvth//i9
 89qZu+ubW8eDVXYP/TpKUHXUN7eOa2fu3j9+77Jvjaz6ysztI8/UlZ15Mm2Y
 e1rT4XknYOsmCiqDCUHNPeezgftXUh7O4aWp20f+7gHxfKs1FdUlWx/vfa6i
 rVDZEM9rxdf3j//JhXlpqiyfG/n2aGj0Yy5Vt6XzQZS17MVnhAJbyQjqaWwC
 /1Li5JH/GH/owr82V5bbRx7f4n22B+3vy1p2R9oIkHR9WaEDIail2Ep2HFFP
 K2X37R9/8KN9cbKX3D7ynVtF+90KxlymdvpUVyXTSGqQVOPXuO9g2Q4qjw4E
 HTi0FVQgTWP9MQ+HtKin9o//6fq/Orvsw9Sj+vNbhka1qJucZZdW/novbPNe
 15RXVe99Da8C7xV4CnCU8p3FUw/Kp0qphle+qZQ0lOZd8ep1k3FQtD/w7xNn
 D+fFjAvS5/V+fX5UPRpeNhIOIn0DsbhBgEibafTczMnxZPqw37uur8//P/a3
 WeBnCauVAAAAAElFTkSuQmCC

Package: gallery-plugin-enlargeshrink-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         gallery-plugin-enlargeshrink (= ${binary:Version})
Description: Gallery Enlarge/Shrink edit plugin
 Gallery plugin that applies an Enlarge/Shrink effect.
 .
 This package contains the debug symbols.
